.wrapper{
    /* border: 2px solid #ce9224; */
    width: 150px;
    height: 30px;
    margin: 0 10px;
}
#txt{
    width: 130px;
    margin: 0;
    padding: 0;
}


.select-btn .location-options li{
    display: flex;
    cursor: pointer;
}

.select-btn{
    text-align: center;
    color: #ce9224;
    width: 155px;
    height: 26px;
    margin: 3px auto;
    font-size: 19px;
    cursor: pointer;
    display: flex;
    /* border-radius: 7px; */
    justify-content: center;
    text-decoration: none;
}

.select-btn i{
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: transform 0.3s linear;
}

.wrapper.wrapper.active{
    margin: 5px 10px 0px 10px;
}
.wrapper.active .select-btn i{
    transform: rotate(-180deg);
}


.content1{
    width: 200px;
    display: none;
    padding: 20px;
    margin-top: 12px;
    border-radius: 7px;
    background: #fff;
}

.wrapper.active .content1{
    display: block;
}

.content1 .search{
    position: relative;
}

.search i{
    left: 15px;
    color: #999;
    font-size: 20px;
    line-height: 53px;
    position: absolute;

}

.search input{
    height: 53px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
}

.content1 .location-options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
}

.location-options::-webkit-scrollbar{
    width: 7px;
}

.location-options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}

.location-options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
}


 .location-options li{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    height: 50px;
    border-radius: 5px;
   
 }
 .location-options li:hover{
    background: #23b6ec;
 }